[submodule "gateway"]
	path = gateway
	url = git@github.com:trannguyenhung011086/learn-nestjs-gateway.git
[submodule "order"]
	path = order
	url = git@github.com:trannguyenhung011086/learn-nestjs-order.git
[submodule "payment"]
	path = payment
	url = git@github.com:trannguyenhung011086/learn-nestjs-payment.git
[submodule "payment-service"]
	path = payment-service
	url = git@github.com:trannguyenhung011086/learn-nestjs-payment-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:trannguyenhung011086/learn-nestjs-order-service.git
